<div class="header">
  <div>
    <h1>Mad Libs Against Humanity</h1>
    <h3>The world's most offensive word game!</h3>
    <small>v0.1</small>
  </div>
  <div>
    <p>Welcome to Mad Libs Against Humanity!  This combines the silly fill-in-the-blank stories similar to Mad Libs, but instead of nouns and adverbs, you're using the white cards from Cards Against Humanity.</p>
    <p>Every game, you will be given a random story.  The game will give you 5 random cards from official CAH cards, and how many blanks there are.  Your goal is to guess what you think will fit best...or not.</p>
    <small>WARNING: Just like Cards Against Humanity, this game is not suitable for work!</small>
  </div>
  <div>
    <p>If you are ready to risk it,</p>
    <button (click)="btnClick()">Click here to play</button>
  </div>
</div>
