.board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.card {
    position: relative;
    bottom: -6rem;
    max-width: 8rem;
    width: 8rem;
    height: 10rem;
    background: white;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: left;
    transition: bottom 0.3s;
    font-size: 0.7rem;
    margin: 0 -1rem;
    box-shadow: 0 0 4px 2px #000;
}


.card:hover, .card:active {
    bottom: 2rem;
}

.madlibs:nth-child(2n) {
    text-decoration: underline;
}