.Game {
    .card-board {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        min-width: 100%;
        gap: 1rem;
    }
    .card {
        width: 5rem;
        height: 7rem;
        background: $white;
        color: $black;
        padding: 1em;
        font-size: 0.88rem;
        border-radius: 4px;
    }
}

@media screen and (max-width: 640px) {
    .card-board {
        grid-template-columns: repeat(3, 1fr);
    }
}