.Game {
    height: 100%;
    h3 {
        text-align: center;
    }
    .word-type {
        text-align: center;
        text-transform: uppercase;
    }
    .card-board {

    }
    .card {

    }
}
